body {
	background-color: black;
	color: white;
	font-family: Times;
}

body * {
	margin-left: auto;
	margin-right: auto;
}

img {
	display: block;
	height: 300px;
}

h1, h2, h3, h4, h5, h6 {
	text-align: center;
}

h2 {
	color: orange;
}

a {
	color: orange;
}

table {
	border: 1pt solid gray;
	border-collapse: collapse;
}

th, td {
	padding: 2pt;
}

table.ruled th, table.ruled td {
	border-bottom: 1pt solid gray;
}

p {
	text-align: center;
	max-width: 80ex;
}
